.portfolio {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {    /*  кружок миксин ставим в центр */
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin: 60px 145px 0 145px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5px;
        column-gap: 5px;
    }
    &__item {
        transition: all 0.5s;
        img {
            width: 100%;
        }
        &:hover {
            transform: scale(1.05);
            
        }
    }
       
}
#plan {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
#mac {
    
    grid-column-start: 1;
    grid-column-end: 3;
}